@{
    ViewBag.Title = "Kontakti";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Član:</span>
        <span><a href="mailto:amagjer@gmail.com">Antun Magjer</a></span>
    </p>
    <p>
        <span class="label">Član:</span>
        <span><a href="mailto:josip.dzoic@gmail.com">Josip Džoić</a></span>
    </p>
    <p>
        <span class="label">Član:</span>
        <span><a href="mailto:valentina.viljevac@gmail.com">Valentina Viljevac</a></span>
    </p>
    <p>
        <span class="label">Član:</span>
        <span><a href="mailto:ivan.nikolic78@gmail.com">Ivan Nikolić</a></span>
    </p>
    <p>
        <span class="label">Član:</span>
        <span><a href="mailto:kresovkci@gmail.com">Davorin Krešić</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresa</h3>
    </header>
    <p>
        Gajev trg 7<br />
       31000 Osijek
    </p>
</section>