@{
    ViewBag.Title = "Početna stranica";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Molimo sve nove članove tvrtke da se registriraju na stranicu kako bi ostvarili pravo na upis i obračun plaća!
            </p>
        </div>
    </section>
}
<h3>Preporučeni tok:</h3>
<ol class="round">
    <li class="one">
        <h5>Registracija</h5>
        Registirajte se na stranicu!
            </li>

    <li class="two">
        <h5>Dodavanje u bazu!</h5>
        Dodajte svoju malenkost u bazu podataka tvrtke!
        
    </li>

    <li class="three">
        <h5>Obračunajte plaću!</h5>
        $ Profit! $
    </li>
</ol>
